<!DOCTYPE html>
<html>
<head>
	<title>Growler</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	
	
	<form class = "growlPic" action="/">
		<input class = "formPos" type="text" name="growl">
	</form>
<p> Growl: <%= @growl %> </p>
</body>
</html>