.growlPic{
	background-image: url("../img/growler.png");
	background-repeat: no-repeat;
	height: 19em;
	width:17em;
	
}

.formPos{
	position: relative;
	top: 8.5em;
	left:5em;
}

.growlPos{
	position: relative;
	top: 6em;
	left:6.5em;
	color:white;
}
ul{
	list-style-type: none;
	display: inline-block;
}