.growlPic{
	background-image: url("../img/growler.png");
	background-repeat: no-repeat;
	height: 19em;
	width:17em;
	clear: both;
	
}

.formPos{
	position: relative;
	top: 8.5em;
	left:6em;
}

.growlPos{
	position: relative;
	top: 6em;
	left:6.5em;
	color:white;
}
li{
	right: 3em;
	position: relative;
	float: left;
	list-style-type: none;
	display: inline;
	margin: 10px;
	background-color: lightgray;
	color: white;
	padding: 10px;

}

li:hover {
	background-color: lightblue;
	transition: background-color ease .3;
}